{% extends 'main/base.html' %}

{% block body %}
        <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../../static/images/banner-portfolio.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="display-t">
                            <div class="display-tc animate-box" data-animate-effect="fadeIn">
                                <h1 style="font-family: fantasy">Проекты</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div id="fh5co-project">
            <div class="container">
                <div class="row">
                    <div class="text-center">
                        <h2 style="font-size: 3em">Примеры, каким может быть Ваш сайт:</h2>
                    </div>
                    {% for i in project_list %}
                        <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                            <a href="{{ i.link }}" target="_blank"><img src="{{ i.img_main.url }}" alt="брендинг" class="img-responsive">
                                <h3>{{ i.name }}</h3>
                                <span>{{ i.descr }}</span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}