{% extends 'blog/base_blog.html' %}


{% block body %}
        <div id="fh5co-about">
            <div class="container">
                <div class="row animate-box">
                   <h2 class="text-center" style="font-family: cursive">SEO аудит и продвижение</h2>
                    <div class="col-md-6 col-md-6">
                        <img class="img-responsive" style="margin-bottom: 0.5em; margin-top: 0.5em" src="../../images/concept-of-search-engine-optimization.jpg" alt="оптимизация поиска">
                    </div>                    
                    <div itemprop="articleBody">
                        <p>После принятия решения, о создании сайта, серьёзный вопрос - как запустить поток новых посетителей и покупателей. Для социальных сетей - SMM, для целевых клиентов - target marketing, для продвижения в поисковых системах на первые страницы поиска - SEO. В общем и целом это всё - Digital marketing, так что сегодня мы разберём SEO-разработку.</p>
                        <p>Ваш ресурс нужно продвигать и оптимизировать, анализировать и проводить периодические проверки (аудит), давать больше поводов предлагать Вас большему количеству потенциальных покупателей. Актуальность аудита заключается в желании выяснить причину отсутствия активности и интереса к компании в интернете и социальных сетях или ребрендинге/возобновление старого имиджа.</p>
                        <p>Для каждой области бизнеса, время от времени, нужен внешний или внутренний аудит и эта необходимость состоит в разноплановых изменениях целей, задач и идей. Возможность выстроить правильную раскрутку ресурса и выполнить требования клиента - SEO-аудит, который определяет готовность эффективного продвижения в сети интернет и увеличение просмотров. Достаточно корректного анализа, чтобы выявить причины отсутствия потока целевой аудитории или негативных показателей просмотров.</p>
                        <div class="col-md-6">
                            <p style="font-style: initial; color: orangered">SEO-аудит являет собой три возможных варианта:</p>
                            <p>
                                <li style="font-style: italic"><a>Внешний</a></li>
                                Проверяем возможные блоки на определённые страницы или скрытые пути. При помощи Robots.txt анализируем корректные индексы, а Sitemap.xml определяет прозрачность путей. Но прежде проверка в самих поисковиках и среди их инструментов настройки. Идентификация ссылок и их содержания так же происходит из вне. По статистике, это является самой частой проблемой, ведь так на ресурс могут наложить санкции или даже штраф.
                            </p>
                            <p>
                                <li style="font-style: italic"><a>Внутренний</a></li>
                                Технический аудит являет собой проверку текстового содержания. Всё, что размещено на должно иметь описание, так как его уберут из выдачи, если он вообще не содержит информацию в виде текста. Помимо этого, текст и его содержание, ключевые фразы и их количество, заголовок и описание влияют на трафик. Ключевых фраз может быть слишком мало или много главное, чтобы оригинальные. Для каждой страницы, вкладки нужны уникальные описание, заголовок - это именно их в первую очередь видит человек в Google и Yandex, в публикациях Вконтакте, Теллеграме и когда сыллку будут пересылать.
                            </p>
                            <p>
                                <li style="font-style: italic"><a>Юзабилити</a> (oт англ. usability — удобство и простота использования)</li>Внешний вид, навигация, скорость адаптации, работа обратной связи, наличие карты, полезной информации/прямых контактов - всё это положительно расположит уже посетившего Ваш сайт клиента и может быть важным аспектов в конкурентной борьбе.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-6 ">
                        <img class="img-responsive" style="margin-bottom: 0.8em; margin-top: 3em" src="../../images/archive/ssilki_vneshnie.jpg" alt="внешний seo">
                        <img class="img-responsive" style="margin-bottom: 0.8em; margin-top: 3em" src="../../images/seo-usability.png" alt="удобство сайта">
                    </div>
                </div>
            </div>
        </div>
{% endblock %}