{% extends 'blog/base_blog.html' %}


{% block body %}
        <div id="fh5co-about">
            <div class="container">
                <div class="row animate-box">                    
                    <div itemprop="articleBody">
                       <h2 class="text-center" style="font-family: cursive">Современная терминология простыми словами</h2>
                        <div class="col-md-6">
                            <img class="img-responsive" src="../../../images/Branding1.png" alt="Бренд">
                        </div>
                        <div class="col-6">
                            <p>Брендинг и бренд - это важнейшие составляющие компании, которая нацелена на развития и продвижение на рынке и сегодня это влияет на позицию компании среди конкурентов целевую аудиторию. Какие цели, задачи, выиды, плюсы, минусы, да и зачем Вам создавать бренд мы обсудим в этой статье.</p>
                            <p><a style="font-style: italic; font-size: 1.1em">Бренд </a> - это имя, фирменный знак, название компании.</p>
                        </div>                                        
                        <div class="col-6">
                            <p><a style="font-style: italic; font-size: 1.1em">Брендинг</a> - это создание положительного образа компании, который распространяется в обществе, остаётся в голове у клиента. Брендинг - <a>управление брендом.</a> Управление целым комплексом маркетинговых процессов направленных на развитие имиджа, закреплению за собой положительной репутации внутри компании и долгосрочных, здоровых отношениях с потребителем. Наглядная иллюстрация того, почему так важен брендинг, — примеры, которые известны во всем мире, — Apple, Ikea, Coca-Cola, Google. Потребители знают эти названия и сходу могут сказать, какую продукцию компании предлагают на рынке и за что они получили такую популярность и любовь. А это зависит от того, как фирмы позиционируют себя на рынке и какие эмоции вызывают у потребителей.</p>
                        </div>
                        <div class="col-md-12">
                            <img class="img-responsive" src="../../images/branding.jpg" alt="Брендинг">
                        </div>
                    <div class="col-lg-12 text-center" style="margin-top: 2em; margin-bottom: 0.5em; border-style: solid; border-color: darkorange">
                        <p><a style="font-style: italic; font-size: 1.1em"> Цель брендинга</a> — создание четкого, понятного и позитивного образа для повышения узнаваемости компании и лояльности к ней, но, если цель брендинга — это конечный результат, к которому мы должны прийти, задачи — это этапы для достижения итоговой эффективности.</p>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="../../images/pexels-denise-duplinski.jpg" alt="Запоминающиеся окружение">
                    </div>
                    <div class="col-md-8">
                        <a style="font-style: italic; font-size: 1.2em">Задачи брендинга:</a>
                        <p><li>Сформировать положительный образ вокруг товаров или услуг компании.</li></p>
                        <p><li>Показать высокую ценность продукции.</li></p>
                        <p><li>Создать коммуникацию между компанией и клиентами.</li></p>
                        <p><li>Разработать концепцию позиционирования бренда на рынке — вербальную и визуальную идентификацию товара.</li></p>
                        <p><li>Выбрать маркетинговые каналы и разработать стратегию продвижения.</li></p>
                        <p><li>Выделить конкурентные преимущества.</li></p>
                        <p><li>Придать индивидуальности бренду.</li></p>
                        <p><li>Брендинг должен показывать важность и ценность вашего продукта для аудитории, а также выделять компанию среди конкурентов.</li></p>
                    </div>
                    </div>
                </div>
            </div>
            </div>
            {% endblock %}