{% extends 'main/base.html' %}


{% block body %}
        <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../../../static/images/banner-website-creation.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="display-t">
                            <div class="display-tc animate-box" data-animate-effect="fadeIn">
                                <h1 style="font-family: fantasy">СОЗДАНИЕ САЙТА</h1>
                                <h2 style="font-family: cursive">Ваш центральный офис во всемирной паутине</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div id="fh5co-about">
            <div class="container">
                <div class="about-content">
                    <div class="row animate-box">
                        <div class="col-md-6 col-md-push-6">
                            <div class="desc">
                                <h3>Больше рефералов &amp; аудитории </h3>
                                <p>Непрекращающийся успех основан на возможности постоянно находить новых клиентов. Привлечь тысячи людей, используя традиционные маркетинговые методы, невероятно затратно, к тому же тут нет никаких гарантий успеха. Выход в онлайн даст вам возможность привлечь такое количество людей, о котором вы даже не мечтали, платя за это значительно меньше. А главное, здесь вы сможете отслеживать результаты всех ваших усилий.</p>
                                <p>В интернете у вас появится волшебный инструмент: ссылки, которыми вы сможете делиться со всеми. Если кто-то захочет порекомендовать вас своим друзьям, им будет гораздо проще прислать адрес вашего сайта, чем записать адрес вашего офиса и телефон на бумаге. Не говоря уже о том, что люди с большей вероятностью кликнут на вашу ссылку, чем приедут в ваш магазин.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <br>
                            <br>
                            <img class="img-responsive" src="../../../static/images/website-creation.jpg" alt="схема дизайна">
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}