{% extends 'main/base.html' %}

{% block header %}
    <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../../../media/media/banner-blog.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1 style="font-family: fantasy">Блог новостей</h1>
                            <h2 style="font-size: 1.5em">авторские статьи</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}


    <body>
        {% block body %}{% endblock %}
    </body>