<!DOCTYPE HTML>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Обо мне ~ Портфолио Михаила. Создание сайтов, дизайн и продвижение</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Обо мне. Портфолио Михаила. Создание сайта, уникальный дизайн, продвижение и SMM. Создание сайтов,  онлайн-магазинов, интернет-магазинов, корпоративных сайтов с помощью Bootstrap, HTML5, CSS3. ДАВАЙТЕ ПОКОРЯТЬ НОВЫЕ ВЕРШИНЫ ВМЕСТЕ!" />
    <meta name="keywords" content="разработчики сайтов, создание сайтов, web-дизайнер, junior developer" />
    <meta property="og:title" content="Обо мне ~ Портфолио Михаила. Создание сайтов, дизайн и продвижение" />
    <meta property="og:image" content="https://start-saitov.ru/portfolio/portfolio-mike/images/banner-main-og.jpg" />
    <meta property="og:url" content="start-saitov.ru/portfolio/portfolio-mike/" />
    <meta property="og:site_name" content="Обо мне" />
    <meta property="og:description" content="Обо мне. Портфолио Михаила. Создание сайта, уникальный дизайн, продвижение и SMM. Создание сайтов,  онлайн-магазинов, интернет-магазинов, корпоративных сайтов с помощью Bootstrap, HTML5, CSS3. ДАВАЙТЕ ПОКОРЯТЬ НОВЫЕ ВЕРШИНЫ ВМЕСТЕ!" />
    <meta name="twitter:title" content="Обо мне ~ Портфолио Михаила. Создание сайтов, дизайн и продвижение" />
    <meta name="twitter:image" content="https://start-saitov.ru/portfolio/portfolio-mike/images/banner-main-og.jpg" />
    <meta name="twitter:url" content="start-saitov.ru/portfolio/portfolio-mike/" />
    <meta name="twitter:card" content="summary" />
    <link rel="shortcut icon" href="../images/logo/notebook.png">
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/animate.css">
    <link rel="stylesheet" href="../css/icomoon.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="../js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div id="page">
        <nav class="fh5co-nav" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="left-menu text-right menu-1">
                        <ul>
                            <li class="active"><a href="#0">ОБО МНЕ</a></li>
                            <li class="has-dropdown">
                                <a href="../uslugi">УСЛУГИ</a>
                                <ul class="dropdown">
                                    <li><a href="../uslugi/sozdanie-sajtov">Создание сайтов</a></li>
                                    <li><a href="../uslugi/internet-magazin">Сайт-магазин</a></li>
                                    <li><a href="../uslugi/smm">SMM</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="logo text-center">
                        <div id="fh5co-logo"><a href="../">M I K E</a></div>
                    </div>
                    <div class="right-menu text-left menu-1">
                        <ul>
                            <li class="has-dropdown">
                                <a href="../kontakty/">ПОРТФОЛИО</a>
                                <ul class="dropdown">
                                    <li><a href="portfolio/bk-25">Инфо-сайт дома</a></li>
                                    <li><a href="portfolio/mobile-decor">Магазин чехлов</a></li>
                                    <li><a href="portfolio/atelier-art">Услуги ателье</a></li>
                                </ul>
                            </li>
                            <li><a href="../kontakty">КОНТАКТЫ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../../images/pexels-andrea-piacquadio.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="display-t">
                            <div class="display-tc animate-box" data-animate-effect="fadeIn">
                                <h1 style="font-family: fantasy">Блог новостей</h1>
                                <h2 style="font-size: 1.5em">авторские статьи</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
           <div id="fh5co-blog" class="fh5co-bg-section">
            <div class="container">                
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="fh5co-blog animate-box fadeInUp animated-fast">
                            <a href="brending/"><img class="img-responsive" src="../../images/lucas-hoang-branding.jpg" alt="уникальный бренд"></a>
                            <div class="blog-text">
                                <h3 style="font-family: sans-serif"><a href="brending/">Брендинг - что это и зачем?</a></h3>
                                <span class="posted_on">31 марта</span>
                                <span class="comment"><a href="">5 min<i class="icon-clock"></i></a></span>
                                <p style="font-family: serif">Как разработать концепцию позиционирования бренда на рынке (визуальную идентификацию товара.)</p>
                                <a href="brending/">Читать далее</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="fh5co-blog animate-box fadeInUp animated-fast">
                            <a href="dlya-4ego-nujen-sait/"><img class="img-responsive" src="../../images/avinash-kumar.jpg" alt="новый 2023 год"></a>
                            <div class="blog-text">
                                <h3 style="font-family: sans-serif"><a href="dlya-4ego-nujen-sait/">Для чего нужен сайт в 2023?</a></h3>
                                <span class="posted_on">17 марта</span>
                                <span class="comment"><a href="">7 min<i class="icon-clock"></i></a></span>
                                <p style="font-family: serif">Не смотря на развитие технологий, сайты сегодня просто улучшаются, но не теряют актуальности.</p>
                                <a href="dlya-4ego-nujen-sait/">Читать далее</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="fh5co-blog animate-box fadeInUp animated-fast">
                            <a href="seo/"><img class="img-responsive" src="../../images/lucas-hoang.jpg" alt="создание и продивижение бренда"></a>
                            <div class="blog-text">
                                <h3 style="font-family: sans-serif"><a href="seo/">SEO аудит и продвижение</a></h3>
                                <span class="posted_on">22 марта</span>
                                <span class="comment"><a href="">5 min<i class="icon-clock"></i></a></span>
                                <p style="font-family: serif"> SEO-аудит, который определяет готовность эффективного продвижения в сети интернет и увеличение просмотров.</p>
                                <a href="seo/">Читать далее</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="fh5co-blog animate-box fadeInUp animated-fast">
                            <a href="servery/"><img class="img-responsive" src="../../images/lucas-hoang.jpg" alt="С чего начинаеться безопастность?"></a>
                            <div class="blog-text">
                                <h3 style="font-family: sans-serif"><a href="servery/">С чего начинаеться безопастность?</a></h3>
                                <span class="posted_on">01 марта</span>
                                <span class="comment"><a href="">4 min<i class="icon-clock"></i></a></span>
                                <p style="font-family: serif"> Многие, кто желает создать свой сайт, задаются этим вопросом... </p>
                                <a href="servery/">Читать далее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="fh5co-about">
            <div class="container">
                <div class="about-content">
                    <div class="row animate-box">
                        <div class="col-md-6 col-md-push-6">
                            <div class="desc">
                                <h2 style="font-family: cursive">Немного обо мне</h2>
                                <p>Меня зовут Михаил, родился в конце прошлого века. C 2022 обучаюсь веб разработке. Вёрстка сайтов, курсы программирования на Python, собрать backend на Django, базы данных, различные форумы - это только первый год, помимо дополнительного самообучения в этой сфере и около неё. Так жеб последние 5 лет занимаюсь фотографиейю Обрабатываю фото и выкладываю у себя в социальных сетях. </p>
                                <p> Изучаю все новинки в сфере IT: от NFT и виртуальных реальности и до AI и промтинг для искуственного интелекта. Читаю книги, смотрю кино, сериалы, слушаю интелектуальные подкасты - как обычный человек. Чувство юмора имеет большое влияние на мировозрение и формирует позитивное мышление в любой ситуации, а иначе всё становиться серым.</p>
                                <p>Сейчас стремлюсь стать квалифицированным web-разработчиком и приносить пользу человечеству. Начну я с Вас, мои дорогие, с тех, кому нужен сайт или его продвижение таргетинговой или контекстной рекламой! Всё для развития Ваших и моих планов и идей!</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <img class="img-responsive" src="../images/me-myself-i.jpg" alt="автор сайта">
                        </div>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer role="contentinfo" style="background-color: #1d1616">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2 style="color: #ec281f">Создадим сайт мечты - вместе!</h2>
                <h3 style="color: #ec281f">Оставить заявку на создание и продвижение сайта - <a style="font-family: serif; font-size: 1.3em; color: deepskyblue" href="kontakty/">ЗДЕСЬ!</a></h3>
            </div>
            <div class="row copyright">
                <div class="col-md-12 text-center">
                    <small class="block" style="color: floralwhite">&copy; 2022 Все права защищены.</small>
                    <small class="block" style="color: floralwhite">&reg; Саруханов Михаил. Demo Images: <a href="https://pixabay.com/ru/" target="_blank" style="color: deepskyblue">Pixabay</a></small>
                    <ul class="fh5co-social-icons">
                        <li><a href="https://www.facebook.com/mikhail.aganyan" target="_blank"> <i class="icon-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/in.sadness.side/" target="_blank"> <i class="icon-instagram"></i></a></li>
                        <li><a href="https://vk.com/prosaruhan"><i class="icon-vk" target="_blank"> </i></a></li>
                        <li><a href="https://www.pinterest.ru/kAtS_Mike/_saved/" target="_blank"> <i class="icon-pinterest"></i></a></li>
                        <li><a href="https://wa.me/79776406177" target="_blank"> <i class="icon-phone"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.easing.1.3.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.waypoints.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
    <script src="../js/google_map.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>