{% extends 'main/base.html' %}


{% block body %}
        <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../../../static/images/banner-online-store.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="display-t">
                            <div class="display-tc animate-box" data-animate-effect="fadeIn">
                                <h1 style="font-family: fantasy">eCOMMERCE</h1>
                                <h2 style="font-family: cursive">Ваш топ менеджер и аналитик</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div id="fh5co-about">
            <div class="container">
                <div class="about-content">
                    <div class="row animate-box">
                        <div class="col-md-6 col-md-push-6">
                            <div class="desc">
                                <h3>Всё для формирования сильного бренда</h3>
                                <p>Автоматизация маркетинга становится всё более важным инструментом для бизнеса: она помогает уделять клиентам максимум внимания, и как следствие, увеличивает продажи. Сегодня бренды тратят приличную часть бюджета на продакшен, фото- и видеосъемку. Качественный визуальный контент — это один из китов успеха вашего онлайн магазина. Брендинг и позиционирование, не менее важны! Сайт принесет вам гораздо больше пользы с хорошо продуманным фирменным стилем.</p>
                                <p>Ваш сайт станет главным источником информации и гарантий для Ваших потенциальных клиентов. У вас есть полный контроль над текстами, фотографиями и прочим контентом, связанным с вашим брендом. Мы даже можете пойти дальше и позволить клиентам публиковать отзывы на вашем сайте, добавив приложение для публикации отзывов. Таким образом, сайт послужит прекрасной платформой для создания положительного имиджа вашего бренда.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <img class="img-responsive" src="../../../static/images/online-store.jpg" alt="online-shop">
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}