{% extends 'main/base.html' %}

{% block body %}        
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../../static/images/banner-uslugi.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1 style="font-family: fantasy">УСЛУГИ</h1>
                        <h2 style="font-family: cursive">как сделать Ваш бизнесс более заметным, востребованным и современным!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
        <div id="fh5co-blog" class="fh5co-bg-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center" style="border-color: coral; border-style: double">
                        <h1>Совет от эксперта</h1>
                        <p>« В мире после COVID-19 цифровое присутствие для вашего бизнеса, возможно, важнее, чем физическое присутствие, по крайней мере, в случае некоторых отраслей. И один из самых простых способов присутствия в Интернете — создание веб-сайта. Это недорого, но очень эффективно. » </p>
                        <div class="col-md-10">
                            <p class="text-justify"> <a href="https://in.linkedin.com/in/madhavgoenka01/ru?trk=people-guest_people_search-card&challengeId=AQEKMFGzjP_C8wAAAX_yGjLcylcCVgVXQAb55Co44FDKDbCwbT01jzBs_uWgLmyl21c6peP29vO8H_MJU5fWqpJ8iFMeg_EIiQ&submissionId=f978192c-f08b-e216-4b8c-afef0277e31d" target="_blank">Мадхав Гоенка</a> — соучредитель и директор по маркетингу <a href="https://frazile.com/" target="_blank">Frazile</a>, агентства цифрового маркетинга. Он помог стартапам, а также крупным компаниям создать более сильный онлайн-бренд, чтобы получить больше потенциальных клиентов и продаж.</p>
                        </div>
                        <img {height="105em" width="120em" } class="img-circle col-md-2" src="../../../media/media/expert-madhav-goenka.jpg" alt="Мадхав Гоенка — соучредитель и директор по маркетингу Frazile">
                    </div>
                    </div>
                    <br>
                    {% for i in service_list %}
                        <div class="col-lg-4 col-md-4" style="background-color: #ffb744; border-color: floralwhite; border-style:solid">
                            <div class="fh5co-blog animate-box">
                                <a><img src="{{ i.img_main.url }}" alt="{{ i.name }}"></a>
                                <div class="blog-text">
                                    <h3><a href="{{ i.link }}" >{{ i.name }}</a></h3>
                                    <p>{{ i.descr }}</p>
                                    <a href="{{ i.link }}" class="btn btn-primary">Больше тут</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
{% endblock %}