<!DOCTYPE HTML>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Услуги ~ Портфолио Михаила. Создание сайтов, дизайн и продвижение</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Услуги. Портфолио Михаила. Создание сайта, уникальный дизайн, продвижение и SMM. Создание сайтов,  онлайн-магазинов, интернет-магазинов, корпоративных сайтов с помощью Bootstrap, HTML5, CSS3. ДАВАЙТЕ ПОКОРЯТЬ НОВЫЕ ВЕРШИНЫ ВМЕСТЕ!" />
    <meta name="keywords" content="услуги разработчика, создание сайтов, сoздание интернет-магазина, online-shop, продвижение" />
    <meta property="og:title" content="Услуги ~ Портфолио Михаила. Создание сайтов, дизайн и продвижение" />
    <meta property="og:image" content="https://start-saitov.ru/portfolio/portfolio-mike/images/banner-main-og.jpg" />
    <meta property="og:url" content="start-saitov.ru/portfolio/portfolio-mike/" />
    <meta property="og:site_name" content="Портфолио Михаила" />
    <meta property="og:description" content="Услуги. Портфолио Михаила. Создание сайта, уникальный дизайн, продвижение и SMM. Создание сайтов,  онлайн-магазинов, интернет-магазинов, корпоративных сайтов с помощью Bootstrap, HTML5, CSS3. ДАВАЙТЕ ПОКОРЯТЬ НОВЫЕ ВЕРШИНЫ ВМЕСТЕ!" />
    <meta name="twitter:title" content="Услуги ~ Портфолио Михаила. Создание сайтов, дизайн и продвижение" />
    <meta name="twitter:image" content="https://start-saitov.ru/portfolio/portfolio-mike/images/banner-main-og.jpg" />
    <meta name="twitter:url" content="start-saitov.ru/portfolio/portfolio-mike/" />
    <meta name="twitter:card" content="summary" />
    <link rel="shortcut icon" href="../images/logo/notebook.png">
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/animate.css">
    <link rel="stylesheet" href="../css/icomoon.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="fh5co-loader"></div>
    <div id="page" style="background-image: url()">
        <nav class="fh5co-nav" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="left-menu text-right menu-1">
                        <ul>
                            <li><a href="../obo-mne">ОБО МНЕ</a></li>
                            <li class="has-dropdown active">
                                <a href="#0">УСЛУГИ</a>
                                <ul class="dropdown">
                                    <li><a href="sozdanie-sajtov">Создание сайтов</a></li>
                                    <li><a href="internet-magazin">Сайт-магазин</a></li>
                                    <li><a href="smm">SMM</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="logo text-center">
                        <div id="fh5co-logo"><a href="../">M I K E</a></div>
                    </div>
                    <div class="right-menu text-left menu-1">
                        <ul>
                            <li class="has-dropdown">
                                <a href="../portfolio/">ПОРТФОЛИО</a>
                                <ul class="dropdown">
                                    <li><a href="portfolio/bk-25">Инфо-сайт дома</a></li>
                                    <li><a href="portfolio/mobile-decor">Магазин чехлов</a></li>
                                    <li><a href="portfolio/atelier-art">Услуги ателье</a></li>
                                </ul>
                            </li>
                            <li><a href="../kontakty">КОНТАКТЫ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../images/banner-uslugi.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="display-t">
                            <div class="display-tc animate-box" data-animate-effect="fadeIn">
                                <h1 style="font-family: fantasy">УСЛУГИ</h1>
                                <h2 style="font-family: cursive">как сделать Ваш бизнесс более заметным, востребованным и современным!</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div id="fh5co-blog" class="fh5co-bg-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center" style="border-color: coral; border-style: double">
                        <h1>Совет от эксперта</h1>
                        <p>« В мире после COVID-19 цифровое присутствие для вашего бизнеса, возможно, важнее, чем физическое присутствие, по крайней мере, в случае некоторых отраслей. И один из самых простых способов присутствия в Интернете — создание веб-сайта. Это недорого, но очень эффективно. » </p>
                        <div class="col-md-10">
                            <p class="text-justify"> <a href="https://in.linkedin.com/in/madhavgoenka01/ru?trk=people-guest_people_search-card&challengeId=AQEKMFGzjP_C8wAAAX_yGjLcylcCVgVXQAb55Co44FDKDbCwbT01jzBs_uWgLmyl21c6peP29vO8H_MJU5fWqpJ8iFMeg_EIiQ&submissionId=f978192c-f08b-e216-4b8c-afef0277e31d" target="_blank">Мадхав Гоенка</a> — соучредитель и директор по маркетингу <a href="https://frazile.com/" target="_blank">Frazile</a>, агентства цифрового маркетинга. Он помог стартапам, а также крупным компаниям создать более сильный онлайн-бренд, чтобы получить больше потенциальных клиентов и продаж.</p>
                        </div>
                        <img {height="105em" width="120em" } class="img-circle col-md-2" src="../images/expert-madhav-goenka.jpg" alt="Мадхав Гоенка — соучредитель и директор по маркетингу Frazile">
                    </div>
                    </div>
                    <br>
                    <div class="col-lg-4 col-md-4" style="background-color: #318a84; border-color: floralwhite; border-style:solid">
                        <div class="fh5co-blog animate-box">
                            <a><img src="../images/main-website-creation.jpg" alt="Создание web-сайта"></a>
                            <div class="blog-text">
                                <h3><a href="sozdanie-sajtov" >Создание web-сайта</a></h3>
                                <p>Про Вас конечно могут узнать из газеты или специального выпуска журнала, но, в первую очередь, Вас будут искать во всемирной мировой сети! Так давайте покажем, как сильно Мы можем впечатлить!</p>
                                <a href="sozdanie-sajtov" class="btn btn-primary">Больше тут</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4" style="background-color: #129ac0; border-color: floralwhite; border-style:solid">
                        <div class="fh5co-blog animate-box">
                            <a><img src="../images/main-store.jpg" -main-og alt="Создание онлайн-магазина"></a>
                            <div class="blog-text" >
                                <h3><a href="internet-magazin">Создание онлайн-магазина</a></h3>
                                <p>Ваша возможность красиво показать, подробно рассказать и незамедлительно продать продукт или услугу без надоедливых продавцов-консультантов, с быстрой и комфортной доставкой!</p>
                                <a href="internet-magazin" class="btn btn-primary">Больше тут</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4"  style="background-color: #008081;  border-color: floralwhite; border-style:solid">
                        <div class="fh5co-blog animate-box">
                            <a><img src="../images/main-smm.jpg" alt="SMM-продвижение"></a>
                            <div class="blog-text">
                                <h3><a href="smm">SMM-продвижение</a></h3>
                                <p>Продвигать можно, как продукт, так и Вашу организацию для привлечения новой области рынка или более глубокого ознакомления с Вами тех, кого уже зацепили! Сделаем так, что бы Мы были у них в голове! </p>
                                <a href="smm" class="btn btn-primary">Больше тут</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-md-offset-2 text-center">
                    </div>
                </div>
            </div>
            <footer  role="contentinfo" style="background-color: #1d1616">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2 style="color: #ec281f">Создадим сайт мечты - вместе!</h2>
                <h3 style="color: #ec281f">Оставить заявку на создание и продвижение сайта - <a style="font-family: serif; font-size: 1.3em; color: deepskyblue" href="kontakty/">ЗДЕСЬ!</a></h3>
            </div>
                <div class="row copyright">
                    <div class="col-md-12 text-center">
                        <small class="block" style="color: floralwhite">&copy; 2022 Все права защищены.</small>
                        <small class="block" style="color: floralwhite">&reg; Саруханов Михаил. Demo Images: <a href="https://pixabay.com/ru/" target="_blank" style="color: deepskyblue">Pixabay</a></small>
                        <ul class="fh5co-social-icons">
                            <li><a href="https://www.facebook.com/mikhail.aganyan" target="_blank"> <i class="icon-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/in.sadness.side/" target="_blank"> <i class="icon-instagram"></i></a></li>
                            <li><a href="https://vk.com/prosaruhan"><i class="icon-vk" target="_blank"> </i></a></li>
                            <li><a href="https://www.pinterest.ru/kAtS_Mike/_saved/" target="_blank"> <i class="icon-pinterest"></i></a></li>
                            <li><a href="https://wa.me/79776406177" target="_blank"> <i class="icon-phone"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.easing.1.3.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.waypoints.min.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>