<!DOCTYPE HTML>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Обо мне ~ Портфолио Михаила. Создание сайтов, дизайн и продвижение</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Обо мне. Портфолио Михаила. Создание сайта, уникальный дизайн, продвижение и SMM. Создание сайтов,  онлайн-магазинов, интернет-магазинов, корпоративных сайтов с помощью Bootstrap, HTML5, CSS3. ДАВАЙТЕ ПОКОРЯТЬ НОВЫЕ ВЕРШИНЫ ВМЕСТЕ!" />
    <meta name="keywords" content="разработчики сайтов, создание сайтов, web-дизайнер, junior developer" />
    <meta property="og:title" content="Обо мне ~ Портфолио Михаила. Создание сайтов, дизайн и продвижение" />
    <meta property="og:image" content="https://start-saitov.ru/portfolio/portfolio-mike/images/banner-main-og.jpg" />
    <meta property="og:url" content="start-saitov.ru/portfolio/portfolio-mike/" />
    <meta property="og:site_name" content="Обо мне" />
    <meta property="og:description" content="Обо мне. Портфолио Михаила. Создание сайта, уникальный дизайн, продвижение и SMM. Создание сайтов,  онлайн-магазинов, интернет-магазинов, корпоративных сайтов с помощью Bootstrap, HTML5, CSS3. ДАВАЙТЕ ПОКОРЯТЬ НОВЫЕ ВЕРШИНЫ ВМЕСТЕ!" />
    <meta name="twitter:title" content="Обо мне ~ Портфолио Михаила. Создание сайтов, дизайн и продвижение" />
    <meta name="twitter:image" content="https://start-saitov.ru/portfolio/portfolio-mike/images/banner-main-og.jpg" />
    <meta name="twitter:url" content="start-saitov.ru/portfolio/portfolio-mike/" />
    <meta name="twitter:card" content="summary" />
    <link rel="shortcut icon" href="../../images/logo/notebook.png">
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../../css/animate.css">
    <link rel="stylesheet" href="../../css/icomoon.css">
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/style.css">
    <script src="../../js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="../../../../js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div id="page">
        <nav class="fh5co-nav" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="left-menu text-right menu-1">
                        <ul>
                            <li><a href="../../obo-mne/">ОБО МНЕ</a></li>
                            <li class="has-dropdown">
                                <a href="../../uslugi">УСЛУГИ</a>
                                <ul class="dropdown">
                                    <li><a href="../../uslugi/sozdanie-sajtov">Создание сайтов</a></li>
                                    <li><a href="../../uslugi/internet-magazin">Сайт-магазин</a></li>
                                    <li><a href="../../uslugi/smm">SMM</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="logo text-center">
                        <div id="fh5co-logo"><a href="../../">M I K E</a></div>
                    </div>
                    <div class="right-menu text-left menu-1">
                        <ul>
                            <li><a href="../../portfolio/">ПОРТФОЛИО</a></li>
                            <li><a href="../../kontakty">КОНТАКТЫ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../../images/pexels-andrea-piacquadio.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="display-t">
                            <div class="display-tc animate-box" data-animate-effect="fadeIn">
                                <h1 style="font-family: fantasy">Блог новостей</h1>
                                <h2 style="font-size: 1.5em">авторские статьи</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div id="fh5co-about">
            <div class="container">
                <div class="row animate-box">
                    <div class="col-md-12 text-center">
                        <h2 style="font-family: cursive">С чего начинаеться безопастность?</h2>
                    </div>
                    <div class="col-md-6">
                        <img class="img-responsive" style="margin-right: 1.5em; margin-bottom: 0.5em " src="../../images/statii/servers.jpg" alt="серверная комната">
                    </div>
                    <div itemprop="articleBody">
                        <div class="col-md-6 text-justify">
                            <p>Многие, кто желает создать свой сайт, задаются вопросом: "Почему лучше арендовать сервер у сторонней компании, а не использовать собственный компьютер?". Основной аспект ответа на этот вопрос - надежность. Современные серверы являются важнейшей составляющей любой организации, поэтому надежность и безопасность их работы крайне важны. При выборе сервера необходимо учитывать такие параметры, как:
                                <li>надежность жестких дисков,</li>
                                <li>процессоров,</li>
                                <li>памяти,</li>
                                <li>систем охлаждения.</li>
                            </p>
                        </div>
                        <div class="col-md-6 text-justify">
                            <p>Также важно обеспечить безопасность сервера с помощью межсетевых экранов, антивирусного программного обеспечения и резервного копирования данных. Надежность сервера может быть улучшена с помощью использования RAID-массивов и резервных источников питания.
                            </p>
                            <p style="font-style: italic">RAID-массив - в переводе с английского «RAID» (Redundant Arrays of Inexpensive Disks) означает «избыточный массив независимых дисков». </p>
                            <p>Перевод не дословный, точно отражающий смысл. Впервые термин RAID появился в 1987 году, когда исследователям из Калифорнийского Университета в Беркли удалось создать действующий массив из нескольких жестких дисков для увелечения скорости работы с данными. Однако, с течением времени, их главной функцией стала надежность хранения данных в случае выхода из строя одного или нескольких жестких дисков. Благодаря уникальным особенностям, таким как увеличенный объем, повышенная скорость чтения/записи и надежность, RAID-массивы стали незаменимыми для бизнеса и обработки объемных баз данных. В случае выхода из строя одного из дисков, его можно заменить на новый, не прерывая работы всего массива.</p>
                            <p> Так, что стоит уделить внимание качеству обслуживания серверов, так как любые сбои или перерывы в работе сервера могут привести к серьезным последствиям для бизнеса. Важно также следить за обновлением программного обеспечения и операционных систем серверов, чтобы обеспечить защиту от возможных угроз и уязвимостей. В целом, выбор надежного сервера - это ключевой шаг для обеспечения бесперебойной работы организации и защиты ее данных.</p>
                        </div>
                        <div class="col-md-6">
                            <img class="img-responsive" style="margin-left: 1.5em; margin-top: 0.5em" src="../../images/statii/servers-2.jpg" alt="сервер">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer role="contentinfo" style="background-color: #1d1616">
        <div class="row animate-box">
            <div class="col-md-10 col-md-push-1 text-center fh5co-heading">
                <h2 style="color: peachpuff">Создание сайта Вашей мечты всего в паре кликов от Вас! </h2>
            </div>
            <div class="col-md-3 col-md-push-3 text-left">
                <a href="/obo-mne/">About</a>
                <br>
                <a href="/kontakty/">Contacts</a>
            </div>
            <div class="col-md-3 col-md-push-1 text-left">
                <a href="/portfolio/">Portfolio</a>
                <br>
                <a href="/uslugi/">Services</a>
            </div>
            <div class="col-md-6 col-md-pull-2 text-center">
                <ul class="fh5co-social-icons">
                    <li><a href="https://www.facebook.com/mikhail.aganyan" target="_blank"> <i class="icon-facebook"></i></a></li>
                    <li><a href="https://www.pinterest.ru/kAtS_Mike/_saved/" target="_blank"> <i class="icon-pinterest"></i></a></li>
                    <li><a href="https://mail.google.com/mail/u/0/?ogbl#inbox/FMfcgzGslbJhjMbDSsjbKDfbfvrtFgrV?compose=new" target="_blank"> <i class="icon-mail"></i></a></li>
                    <li><a href="https://vk.com/prosaruhan"><i class="icon-vk" target="_blank"> </i></a></li>
                    <li><a href="https://www.instagram.com/in.sadness.side/" target="_blank"> <i class="icon-instagram"></i></a></li>
                </ul>
                <h3> <a style="font-family: serif; font-size: 1.5em" href="kontakty/">Делитесь своими идеями тут</a></h3>
            </div>
            <div class="row copyright">
                <div class="col-md-12 text-center">
                    <small class="block" style="color: floralwhite">&copy; 2023 Все права защищены.</small>
                    <small class="block" style="color: floralwhite">&reg; Саруханов Михаил. Demo Images: <a href="https://pixabay.com/ru/" target="_blank" style="color: floralwhite">Pixabay</a></small>
                </div>
            </div>
        </div>
    </footer>
    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/jquery.easing.1.3.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/jquery.waypoints.min.js"></script>
    <script src="../../js/main.js"></script>
</body>

</html>