{% extends 'blog/base_blog.html' %}


{% block body %}
        <div id="fh5co-about">
            <div class="container">
                <div class="row animate-box">
                    <div class="col-md-12 text-center">
                        <h2 style="font-family: cursive">С чего начинаеться безопастность?</h2>
                    </div>
                    <div class="col-md-6">
                        <img class="img-responsive" style="margin-right: 1.5em; margin-bottom: 0.5em " src="../../images/statii/servers.jpg" alt="серверная комната">
                    </div>
                    <div itemprop="articleBody">
                        <div class="col-md-6 text-justify">
                            <p>Многие, кто желает создать свой сайт, задаются вопросом: "Почему лучше арендовать сервер у сторонней компании, а не использовать собственный компьютер?". Основной аспект ответа на этот вопрос - надежность. Современные серверы являются важнейшей составляющей любой организации, поэтому надежность и безопасность их работы крайне важны. При выборе сервера необходимо учитывать такие параметры, как:
                                <li>надежность жестких дисков,</li>
                                <li>процессоров,</li>
                                <li>памяти,</li>
                                <li>систем охлаждения.</li>
                            </p>
                        </div>
                        <div class="col-md-6 text-justify">
                            <p>Также важно обеспечить безопасность сервера с помощью межсетевых экранов, антивирусного программного обеспечения и резервного копирования данных. Надежность сервера может быть улучшена с помощью использования RAID-массивов и резервных источников питания.
                            </p>
                            <p style="font-style: italic">RAID-массив - в переводе с английского «RAID» (Redundant Arrays of Inexpensive Disks) означает «избыточный массив независимых дисков». </p>
                            <p>Перевод не дословный, точно отражающий смысл. Впервые термин RAID появился в 1987 году, когда исследователям из Калифорнийского Университета в Беркли удалось создать действующий массив из нескольких жестких дисков для увелечения скорости работы с данными. Однако, с течением времени, их главной функцией стала надежность хранения данных в случае выхода из строя одного или нескольких жестких дисков. Благодаря уникальным особенностям, таким как увеличенный объем, повышенная скорость чтения/записи и надежность, RAID-массивы стали незаменимыми для бизнеса и обработки объемных баз данных. В случае выхода из строя одного из дисков, его можно заменить на новый, не прерывая работы всего массива.</p>
                            <p> Так, что стоит уделить внимание качеству обслуживания серверов, так как любые сбои или перерывы в работе сервера могут привести к серьезным последствиям для бизнеса. Важно также следить за обновлением программного обеспечения и операционных систем серверов, чтобы обеспечить защиту от возможных угроз и уязвимостей. В целом, выбор надежного сервера - это ключевой шаг для обеспечения бесперебойной работы организации и защиты ее данных.</p>
                        </div>
                        <div class="col-md-6">
                            <img class="img-responsive" style="margin-left: 1.5em; margin-top: 0.5em" src="../../images/statii/servers-2.jpg" alt="сервер">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}