{% extends 'blog/base_blog.html' %}


{% block body %}
     <div id="fh5co-about">
            <div class="container">
                <div class="row animate-box">
                    <div class="col-md-12 text-center">
                        <h2 style="font-family: cursive">Как сайт будет полезен Вашему бизнессу в 2023?</h2>
                    </div>
                    <div class="col-md-6">
                        <img class="img-responsive" style="margin-right: 1.5em" src="../../../static/images/meeting.jpg" alt="meeting">
                    </div>
                    <div itemprop="articleBody">
                        <div class="col-md-6 text-justify">
                            <a><li style="font-style: italic">Увеличение продаж.</li></a>
                            <p>В случае, если у Вас есть свой магазин, то будет более выгодно иметь еще один и не платить за аренду, не тревожиться о пожарной безопасности и охране. Плюс таким способом Вы открываете двери большому количеству потенциальных клиентов. А если товары будут востребованными и цена соответствовать качеству, то очень скоро Вы будете ломать голову куда и как стоит расшириться.</p>
                            <a><li style="font-style: italic">Эффективное сотрудничество с партнерами.</li></a>
                            <p>Корпоративный сайт компании даёт возможности лучше и эффективнее ставить задачи, следить за процессом работы и успехами каждого сотрудника. Вместе с этим, именной портал увеличиваете узнаваемость, продвигает акции и новости компании.</p>
                            <a><li style="font-style: italic">Эффективное взаимодействие с сотрудниками компании.</li></a>
                            <p>Корпоративный сайт компании позволяет руководству более эффективно давать задачи своим сотрудникам и следить за этапами выполнения данных задач. Это самый простой способ информирования сотрудников, контроля качества, поощрения хороших работников. Также именно корпоративный портал может увеличить эффективность работы каждого сотрудника компании.</p>
                            <a><li style="font-style: italic">Бренд и имидж компании.</li></a>
                            <p> Для достижения высокого уровня доверия на рынке, эффективно работать и привлекать много клиентов необходимо следить за имиджем и брендом организации. Сайт даёт возможность максимально раскрыть бренд компании всему рынку. Брендинг оригинально раскрывает взгляд, мотивы, цели и корпоративный стиль - собственно делая компанию более узнаваемой и интересной.</p>                                                                                   
                            <a><li style="font-style: italic">Расширение возможностей контакта с клиентом.</li></a>                            
                            </div>
                            <div class="text-justify"> 
                            <p>На сайте модно вести прямой диалог с клиентом через чат, предоставить все свои данные или запросить его - это даёт возможность в кратчайшие сроки отвечать и решать разного рода запросы. А эффективный близкий контакт, который увиливает шансы на то, что он воспользуется услугой или продуктом и в будущем вернётся за оперативными ответами и удобным сервисом.</p>
                            <p>В итоге, мы видим насколько мощным влиянием обладает сайт на новых клиентов, продажи, успешную рекламную кампанию - этот инструмент один из важнейших в наше время. Даже учитывая, что наука и технологии расширяются и оптимизируются с каждым днём, без личной страницы не обходиться ни юридическое, ни физическое лицо.</p>                            
                        </div>
                    </div>
                </div>                    
            </div>
        </div>
    </div>
{% endblock %}