<!DOCTYPE HTML>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Блог новостей ~ Портфолио Михаила. Создание сайтов, дизайн и продвижение</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Блог новостей. Портфолио Михаила. Создание сайта, уникальный дизайн, продвижение и SMM. Создание сайтов,  онлайн-магазинов, интернет-магазинов, корпоративных сайтов с помощью Bootstrap, HTML5, CSS3. ДАВАЙТЕ ПОКОРЯТЬ НОВЫЕ ВЕРШИНЫ ВМЕСТЕ!" />
    <meta name="keywords" content="Влияние сайта на развитие, корпоративный портал, плюсы и минусы сайта в 2022" />
    <meta property="og:title" content="Блог новостей ~ Портфолио Михаила. Создание сайтов, дизайн и продвижение" />
    <meta property="og:image" content="https://start-saitov.ru/portfolio/portfolio-mike/images/banner-main-og.jpg" />
    <meta property="og:url" content="start-saitov.ru/portfolio/portfolio-mike/" />
    <meta property="og:site_name" content="Как сайт будет полезен Вашему бизнессу в 2022?" />
    <meta property="og:description" content="Блог новостей. Даже учитывая, что наука и технологии расширяются и оптимизируются с каждым днём, без личной страницы не обходиться ни юридическое, ни физическое лицо. | Создание сайта, уникальный дизайн, продвижение и SMM. Создание сайтов,  онлайн-магазинов, интернет-магазинов, корпоративных сайтов с помощью Bootstrap, HTML5, CSS3. ДАВАЙТЕ ПОКОРЯТЬ НОВЫЕ ВЕРШИНЫ ВМЕСТЕ!" />
    <meta name="twitter:title" content="Блог новостей ~ Как сайт будет полезен Вашему бизнессу в 2022?" />
    <meta name="twitter:image" content="https://start-saitov.ru/portfolio/portfolio-mike/images/banner-main-og.jpg" />
    <meta name="twitter:url" content="start-saitov.ru/portfolio/portfolio-mike/" />
    <meta name="twitter:card" content="summary" />
    <link rel="shortcut icon" href="../../images/logo/notebook.png">
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../../css/animate.css">
    <link rel="stylesheet" href="../../css/icomoon.css">
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/style.css">
    <script src="../js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="../js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div id="page">
        <nav class="fh5co-nav" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="left-menu text-right menu-1">
                        <ul>
                            <li class="active"><a href="../../obo-mne/">ОБО МНЕ</a></li>
                            <li class="has-dropdown">
                                <a href="../../uslugi">УСЛУГИ</a>
                                <ul class="dropdown">
                                    <li><a href="../../uslugi/sozdanie-sajtov">Создание сайтов</a></li>
                                    <li><a href="../../uslugi/internet-magazin">Сайт-магазин</a></li>
                                    <li><a href="../../uslugi/smm">SMM</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="logo text-center">
                        <div id="fh5co-logo"><a href="../../">M I K E</a></div>
                    </div>
                    <div class="right-menu text-left menu-1">
                        <ul>
                            <li><a href="../../portfolio/">ПОРТФОЛИО</a></li>
                            <li><a href="../../kontakty">КОНТАКТЫ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../../images/pexels-andrea-piacquadio.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="display-t">
                            <div class="display-tc animate-box" data-animate-effect="fadeIn">
                                <h1 style="font-family: fantasy">Блог новостей</h1>
                                <h2 style="font-size: 1.5em">авторские статьи</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
     <div id="fh5co-about">
            <div class="container">
                <div class="row animate-box">
                    <div class="col-md-12 text-center">
                        <h2 style="font-family: cursive">Как сайт будет полезен Вашему бизнессу в 2023?</h2>
                    </div>
                    <div class="col-md-6">
                        <img class="img-responsive" style="margin-right: 1.5em" src="../../images/meeting.jpg" alt="meeting">
                    </div>
                    <div itemprop="articleBody">
                        <div class="col-md-6 text-justify">
                            <a><li style="font-style: italic">Увеличение продаж.</li></a>
                            <p>В случае, если у Вас есть свой магазин, то будет более выгодно иметь еще один и не платить за аренду, не тревожиться о пожарной безопасности и охране. Плюс таким способом Вы открываете двери большому количеству потенциальных клиентов. А если товары будут востребованными и цена соответствовать качеству, то очень скоро Вы будете ломать голову куда и как стоит расшириться.</p>
                            <a><li style="font-style: italic">Эффективное сотрудничество с партнерами.</li></a>
                            <p>Корпоративный сайт компании даёт возможности лучше и эффективнее ставить задачи, следить за процессом работы и успехами каждого сотрудника. Вместе с этим, именной портал увеличиваете узнаваемость, продвигает акции и новости компании.</p>
                            <a><li style="font-style: italic">Эффективное взаимодействие с сотрудниками компании.</li></a>
                            <p>Корпоративный сайт компании позволяет руководству более эффективно давать задачи своим сотрудникам и следить за этапами выполнения данных задач. Это самый простой способ информирования сотрудников, контроля качества, поощрения хороших работников. Также именно корпоративный портал может увеличить эффективность работы каждого сотрудника компании.</p>
                            <a><li style="font-style: italic">Бренд и имидж компании.</li></a>
                            <p> Для достижения высокого уровня доверия на рынке, эффективно работать и привлекать много клиентов необходимо следить за имиджем и брендом организации. Сайт даёт возможность максимально раскрыть бренд компании всему рынку. Брендинг оригинально раскрывает взгляд, мотивы, цели и корпоративный стиль - собственно делая компанию более узнаваемой и интересной.</p>                                                                                   
                            <a><li style="font-style: italic">Расширение возможностей контакта с клиентом.</li></a>                            
                            </div>
                            <div class="text-justify"> 
                            <p>На сайте модно вести прямой диалог с клиентом через чат, предоставить все свои данные или запросить его - это даёт возможность в кратчайшие сроки отвечать и решать разного рода запросы. А эффективный близкий контакт, который увиливает шансы на то, что он воспользуется услугой или продуктом и в будущем вернётся за оперативными ответами и удобным сервисом.</p>
                            <p>В итоге, мы видим насколько мощным влиянием обладает сайт на новых клиентов, продажи, успешную рекламную кампанию - этот инструмент один из важнейших в наше время. Даже учитывая, что наука и технологии расширяются и оптимизируются с каждым днём, без личной страницы не обходиться ни юридическое, ни физическое лицо.</p>                            
                        </div>
                    </div>
                </div>                    
            </div>
        </div>
    </div>
            <footer  role="contentinfo" style="background-color: #1d1616">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2 style="color: #ec281f">Создадим сайт мечты - вместе!</h2>
                <h3 style="color: #ec281f">Оставить заявку на создание и продвижение сайта - <a style="font-family: serif; font-size: 1.3em; color: deepskyblue" href="kontakty/">ЗДЕСЬ!</a></h3>
            </div>
                <div class="row copyright">
                    <div class="col-md-12 text-center">
                        <small class="block" style="color: floralwhite">&copy; 2022 Все права защищены.</small>
                        <small class="block" style="color: floralwhite">&reg; Саруханов Михаил. Demo Images: <a href="https://pixabay.com/ru/" target="_blank" style="color: deepskyblue">Pixabay</a></small>
                        <ul class="fh5co-social-icons">
                            <li><a href="https://www.facebook.com/mikhail.aganyan" target="_blank"> <i class="icon-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/in.sadness.side/" target="_blank"> <i class="icon-instagram"></i></a></li>
                            <li><a href="https://vk.com/prosaruhan"><i class="icon-vk" target="_blank"> </i></a></li>
                            <li><a href="https://www.pinterest.ru/kAtS_Mike/_saved/" target="_blank"> <i class="icon-pinterest"></i></a></li>
                            <li><a href="https://wa.me/79776406177" target="_blank"> <i class="icon-phone"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <div class="gototop js-top">
            <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
        </div>
        <script src="../js/jquery.min.js"></script>
        <script src="../js/jquery.easing.1.3.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/jquery.waypoints.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
        <script src="../js/google_map.js"></script>
        <script src="../js/main.js"></script>
</body>

</html>