{% extends 'main/base.html' %}


{% block body %}
        <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../../images/banner-social-media.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="display-t">
                            <div class="display-tc animate-box" data-animate-effect="fadeIn">
                                <h1 style="font-family: fantasy">SOCIAL MEDIA MARKETING</h1>
                                <h2 style="font-family: cursive">Ваш безграничный отдел рекламы и продвижения</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div id="fh5co-about">
            <div class="container">
                <div class="about-content">
                    <div class="row animate-box">
                        {% for i in service_all %}
                            {% for j in i.service_name.id %}
                        <div class="col-md-6">
                            <div class="desc">
                                <h3>{{ j.titel }}</h3>
                                <p>{{ j.text1 }}</p>          
                                <p>{{ i.text2 }}</p>                                
                                <p>{{ i.text3 }}</p>                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img class="img-responsive" src="{{ j.img1.url}}"g alt="{{i.titel }}">
                        </div>                    
                        <div class="col-md-6">
                            <img class="img-responsive" src="{{ i.img2.url}}" alt="{{i.titel }}">
                        </div>
                        <br>
                        <div class="col-md-6">
                            <div class="desc">
                                <p>{{ i.text4 }}</p>
                            </div>
                        </div>
                        {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}